#include "2Common.xcconfig"

//https://nshipster.com/xcconfig/
//TIP: run a build of your project with `-DAPI_TO_BE_DEPRECATED=10_14` in your CFLAGS. (Substitute 10_14 with your deploy target as needed.)
//This gives you a preview of APIs that are soft deprecated and may be hard deprecated in the future, and many of them come with fix-its now.

OTHER_CFLAGS = -DAPI_TO_BE_DEPRECATED=14_0

ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon
ASSETCATALOG_COMPILER_GLOBAL_ACCENT_COLOR_NAME = AccentColor

CODE_SIGN_IDENTITY = iPhone Developer

//DEVELOPMENT_ASSET_PATHS = "$(TARGET_NAME)/Preview Content"

ENABLE_PREVIEWS = YES

IPHONEOS_DEPLOYMENT_TARGET = 14.0

LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks @loader_path/Frameworks

MTL_FAST_MATH = YES

SDKROOT = iphoneos
SUPPORTS_MACCATALYST = NO
TARGETED_DEVICE_FAMILY = 1,2
INFOPLIST_FILE = $(PRODUCT_NAME)/Info.plist
